.container {
  width: 90%;
  margin: auto;
  margin-top: 0.9375rem;
}
table {
  width: 100%;
}
mat-form-field{
  width: 100%;
}
.button-tecnico{
  display: flex;
  align-items: center;
  
}
h1{
  width: 100%;
  text-align: center;
}
