.container{
  width: 45%;
  margin: auto;
  padding: 1rem;
  border-radius: .750rem;
}
h1, img{
  text-align: center;
}
img{
  height: 15rem;
}
.full-width{
  width: 100%;
}
.status-prioridade{
  display: flex;
  justify-content: space-between;
}
.status-prioridade mat-form-field{
  width: 49%;
}
.observacoes{
  min-height: 6rem;
  max-height: 10rem ;
}
button{
  margin-top: .5rem;
  font-size: 1.2rem;
}
.color-g2{
  background-color: #92E3A9;
}
.color-w1{
  color: #fff;
}


