.container {
  width: 90%;
  margin: auto;
  margin-top: 0.9375rem;
}
table {
  width: 100%;
}
mat-form-field{
  width: 100%;
}
h1{
  width: 100%;
  text-align: center;
}
.edit{
  color: rgb(15, 88, 172, 0.871);
}
.delete{
  color: rgb(169, 30, 30);
}
